#config {TINTIN CHAR} /
/var myname taoist 
/var passwd Sea123
/read comm/newid.sc
/nop read comm/login.sc
/var reconn 1
/session $myname mud123.com 7000
/format logname {../%s.log}{$myname}
/log a {$logname}
/format chatlog {ct-%s.log}{$myname}
/ac {^【闲聊】}{/line log $chatlog}{plain}
/ac {^【谣言】}{/line log $chatlog}{plain}
/al noidle {/ticker {noidle}{haha}{280}}
/read comm/normal.sc
/read comm/path.sc
/read comm/autorecover.sc
/read comm/gag.sc
/read comm/status.sc
/read comm/fight.sc
